<link rel="stylesheet" href="//frontend.reklamor.com/fancybox/jquery.fancybox.css" media="screen">
<script src="//frontend.reklamor.com/fancybox/jquery.fancybox.js"></script>

<div class="container">
	<div class="row">
		<div class='list-group gallery'>
            <div class="col-xs-12 col-sm-3 col-md-3 ">
<a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                </a>
            </div>
        </div> 
        <div class='list-group gallery'>
            <div class="col-xs-12 col-sm-3 col-md-3 ">
<a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                </a>
            </div>
        </div> 
	</div> 
</div> 