<div class="container">

	<div  style="text-align: center;" >
		<h2 align="center">About us </h2>
	</div>
	<div class="row"  style="margin-bottom: 100px" style="margin-top: 100px" >
		<div class="col-xs-12 col-sm-6 col-md-6 ">
			<img src="http://sv1.upsieutoc.com/2017/10/08/14448985_582924058555858_6492862075288077494_n.jpg" alt="" class="img-circle img-responsive" width="400px" height="500px" />
			<h4><i class="glyphicon glyphicon-user"></i> <strong>Nguyễn Lê Tuấn Kiệt</strong></h4>
			<h4><i class="glyphicon glyphicon-user"></i> MSSV: 1312304</h4>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<img src="http://sv1.upsieutoc.com/2017/10/08/22368845_1860370527625621_407011440_o8439a3f0728084bc.jpg" alt="" class="img-circle img-responsive" width="400px" height="500px" />
			<h4><i class="glyphicon glyphicon-user"></i> <strong>Nguyễn Thế Lực</strong></h4>
			<h4><i class="glyphicon glyphicon-user"></i> MSSV: 1412306</h4>
		</div>

	</div>
	<div>
		<h2>Bản đồ: </h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.7600196866456!2d106.66007731425624!3d10.752969562567909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ef0d32c286d%3A0xa47e17b35cab2a52!2zNjcxIE5ndXnhu4VuIFRyw6NpLCBwaMaw4budbmcgMTEsIFF14bqtbiA1LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1507446276819" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	
</div>